.login {
  width: 300px;
  margin: 0 auto;
}

.close-session {
  margin-right: 15px;
}

.logo-home {
  height: 56px;
  padding: 0 0 0 15px;
}

.footer {
  background-color: #f5f5f5;
  padding: 15px 0;
  margin-top: 20px;
}
